$primary: #2c8098;
$secondary: #d0778f;
$info: #bdd8e8;
$success: #559364;
$danger: #ff6760;
$light: #f8f9fb;
$dark: #171316;
$grey: #b1b4bd;

@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
